doctype html
html
      include partials/header.pug
      include partials/navbar.pug
      include home.pug
      #codeBuild-controller.portlet.light.tasks-widget.bordered
             | 
             #btnTobottom.btn.purple(style="margin: 4px;")
                  i.fa.fa-angle-double-down 
             #btnRedStop.btn.red(style="margin: 4px;") Stop
                  i.fa.fa-stop
             | 00:22 seconds
      link(rel='stylesheet', type='text/css', href='public/js/loading-bar.css')
      link(href='public/assets/global/plugins/bootstrap-toastr/toastr.css', rel='stylesheet')
      block script

            script(src='public/assets/global/plugins/bootstrap-toastr/toastr.js')
            script(src='public/assets/global/plugins/select2/js/select2.full.min.js', type='text/javascript')
            script(src='public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js', type='text/javascript')
            script(src='public/assets/global/plugins/jquery-validation/js/additional-methods.min.js', type='text/javascript')
            script(src='public/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js', type='text/javascript')
            script(src='public/assets/pages/scripts/form-wizard.min.js', type='text/javascript')
            script(src='public/js/dropzone.js', type='text/javascript')
            script(src="public/assets/global/plugins/codemirror/lib/codemirror.js" type="text/javascript")
            script(src="public/assets/global/plugins/codemirror/mode/javascript/javascript.js" type="text/javascript")
            script(src="public/assets/global/plugins/codemirror/mode/htmlmixed/htmlmixed.js" type="text/javascript")
            script(src="public/assets/global/plugins/codemirror/mode/css/css.js" type="text/javascript")
            script(type='text/javascript', src='public/js/loading-bar.js')
            // RXJS 
            script(src="node_modules/rx/dist/rx.lite.js" type="text/javascript")
            script(src="node_modules/rx-dom/dist/rx.dom.js" type="text/javascript")
            script.
                  let _file;
                  let source;
                  Dropzone.options.myAwesomeDropzone = {
                        dictDefaultMessage: "or click here ",
                        autoQueue: true,
                        autoDiscover: false,
                        acceptedFiles: ".zip",
                        init: function() {
                              myDropzone = this; // closure
                              this.on("addedfile", function(file) { 
                                    if (this.files[1]!=null){
                                          this.removeFile(this.files[0]);
                              }
                                    

                              });
                              this.on("sending", function(file, xhr, formData) {
                              
                                    formData.append("id", "uid1");
                                    formData.append("proj", $('#projname').val()+"");

                                    let service = '1,0,0' ; //$('#checkboxNodeJS').val();
                                    formData.append("service", service);

                                    console.log(formData);

                               });


                               this.on("success", function(file,res) {
                                    source = new EventSource("/api/v1/build/"+res.toString());
                                    $('#isupload').val(res);
                                    $('#btncontinue').click();
                                    $('#btncontinue').attr("style","visibility:hidden");
                                    $('#btnback').attr("style",'visibility:hidden');
                                   
                                     source.addEventListener('console', function (result) {
                                          buildConsoleLog(result.data,'console');
                                    });

                                     source.addEventListener('err', function (result) {
                                          buildConsoleLog(`<br><br>################################################<br>
                                                            " ${result.data}<br>################################################`,'error');
                                    });
                                     source.addEventListener('end', function (result) {
                                          buildConsoleLog(`<br><br>################################################<br>
                                                            " ${result.data}<br>################################################`,'end');

                                    });
                               });
                               this.on("uploadprogress",function(file, progress, bytesSent) {
                                
                             
                              });

                        },

                        uploadMultiple: false,
                        paramName: "file", // The name that will be used to transfer the file
                        maxFilesize: 50, // MB

                  };
                   var loadTimer,build;
                  $(function() {
                        $('#btnRedStop').bind( "click", function() {
                              let btn = $(this);
                              source.close();
                              toastr.warning('By User',"Canceled Build");
                              clearInterval(loadTimer);
                              $('#btnRedStop').addClass("disabled");
                              btn.css("pointer-events", "none");
                              setTimeout(function (){
                                    // loade report page 
                                $('#btncontinue').click();

                              }, 1000); 
                        });
                         
                         var i = 0;
                         build = $('#builder');

                         loadTimer = setInterval(function () {
                              (i==4)? i=0: i++;
                              if(build.text().length>13){
                                    build.text("Building");
                              }
                              build.text(build.text()+".");
                              
                              var lasted = $('#builder');
                             
                        }, 1000);
                           
                  });

                  toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "positionClass": "toast-bottom-right",
                        "onclick": null,
                        "showDuration": "1000",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                  }

                  
                  let buildConsoleLog = function(data,state){
                        //show controller 
                        $('#codeBuild-controller').css("visibility", "visible");
                        let  c1 = document.createElement("div");
                        c1.className = "prompt";
                        let d= new Date();
                        c1.innerHTML =`worker@${addZero(d.getHours())}:${addZero(d.getMinutes())}:${addZero(d.getSeconds())} $  `;
                        let  cmd = document.createElement("span");

                        switch(state){
                              case 'console': cmd.setAttribute("style","color:#32c146;");
                              break;
                              case 'error':  cmd.setAttribute("style","color:#d73a49;padding-top:20px");  
                              break;
                              case 'end': 
                                    c1.innerHTML ="";
                                    cmd.setAttribute("style","color:#FFFFF;padding-top:20px");  
                                    clearInterval(loadTimer);
                                    build.text("Build Finished");
                                    $('.bufferload').attr("style","display:none;");
                                    $('#btncontinue').attr("style","visibility:visible");
                              break;

                        }


                        cmd.innerHTML = (data).toString().replace(/"/g,"");
                        c1.appendChild(cmd);
                              
                        $('.codein_body').append(c1);

                  }


                  function loadReport(){

                        
                  }

                  // etc function
                  function addZero(i) {
                        if (i < 10) {
                              i = "0" + i;
                        }
                        return i;
                        }

                 
